<!-- index form for an object model "help" -->

<h2><small>Help</small></h2>
<hr/>
<ol>
  <li><strong>Is this free to use?</strong></li>
  <p>Yes, this site is free to use. Only thing you need is a valid email address when registering.
     Once you register, you will get a confirmation email from us. You need to confirm
     that your email address is valid by clicking "confirm" in the email you recieved.
     You can update your account by clicking "your email address or user name" in navigation bar any time.
  </p><br/>
  <li><strong>How do I post my question?</strong></li>
  <p>
     To post a question, you first must sign in.
     Click "Ask" and try to give a good title of your question so that other people easily can
     catch your question.
  </p><br/>
  <li><strong>When entering my question or answer, it looks like the editor supports Markdown. What is it?</strong></li>
  <p>
     Markdown is a text-to-HTML conversion tool for web writers. Markdown allows you to write
     using an easy-to-read, easy-to-write plain text format. One simple command to make your question BOLD is **your question** and another simple command to make it ITALIC is *your question* 
     <br/>
     <%= link_to 'more about Markdown...', markdown_index_path, :target => "_blank" %>
  </p><br/>
  <li><strong>Why are some questions displayed in red?</strong></li>
  <p>
     Those questions displayed in red indicate that you have bookmarked them to revisit/review later.
  </p><br/>
  <li><strong>What is the "people" icon with a number for some questions?</strong></li>
  <p>
     This icon and its number indicate total number of users who bookmarked and follow this quesiton.
  </p><br/>
  <li><strong>When entering my question, do I need to give a tag to categorize the question?</strong></li>
  <p>
     Tags are highly recommended, because each tag will categorize your question and it will
     make a hyperlink automatically to get you a list of questions in the same category/tag.
     You can think of tags as subjects or keywords for your question.
  </p><br/>
  <li><strong>How do I see Q&As posted by me only?</strong></li>
  <p>
     Your name or email address has been already hyperlinked, so you can click it whenever 
     you just want to see your Q&As. Clicking other person's name or email address will also
     get you a list of Q&As posted by him/her.
  </p><br/>
  <li><strong>How do I see Q&As bookmarked by me for later review?</strong></li>
  <p>
     There is a menu called "Bookmarks" in navigation bar. Simply clicking it will get you a 
     list of all Q&As bookmarked by you. You can remove the bookmark anytime.
  </p><br/>
  <li><strong>What are those different sized words in Popular Tags?</strong></li>
  <p>
     This is a list of keywords, also known as tags or categories, being used for QAs or Advertisements here in EileensNotes.
     Only top 20 keywords are displayed here. Clicking one of those will give you all questions that are currently categorized using the keyword. You can see a list of top 100 tags (categories) by clicking "more tags" button.
  </p><br/>
</ul>
</ol>

<h2><small>Privacy</small></h2>
<hr/>
<br/>
<p>To protect your privacy, EileensNotes does not share any personal information about you with third parties.
   We will never disclose our users' list to any third party.
   However, the contents of your page may be crawled by search engines because EileensNotes is accessible from the Internet.
   Also, the contents of any page may be used to generate key words for the ad banner.
   All session information is stored client-side, so simply clearing your browser settings will wipe all that out.
</p>
<p><strong>If there is any Q&A which seems to be inappropriate, we will delete the Q&A immediately and 
   try to contact the author before deleting his/her user account.
   This is our attemp to protect other users at school age from those inappropriate contents.</strong>
</p>
