<% if user_signed_in? %>
  <li><%= link_to "All Q&As", notes_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Bookmarks", reviews_by_user_path %></li>
  <li class="divider"></li>
<% end %>
<li><%= link_to "Advertisements", ads_path %></li>
<li class="divider"></li>