<% #index form for clouds %>

<% title "" %>

<h4>Tags<small></small></h4>

<%= link_to 'ask question', new_note_path, :class=> "label secondary radius" %>
<%= link_to 'unanswered questions', get_unanswered_notes_path, :class=> "label secondary radius" %>
<br/>
<br/>
Please feel free to use your own tags if you can't find the right tag for your question.
</br>
<br/>

<h3><small>These are 100 mostly used tags in Questions and Answers</small></h3>
<div class="panel callout radius">
	<div id="tag_cloud">
		<% tag_cloud Note.tag_counts.limit(100), %w{s m l} do |tag, css_class| %>
	  		<%= link_to tag.name + ' (' + tag.count.to_s + ')', get_tagged_notes_path(tag.name), class: css_class %>
		<% end %>
		<br/>
	</div>
</div>

<h3><small>These are 100 mostly used tags in Advertisements</small></h3>
<div class="panel callout radius">
	<div id="tag_cloud">
		<% tag_cloud Ad.tag_counts.limit(100), %w{s m l} do |tag, css_class| %>
	  		<%= link_to tag.name + ' (' + tag.count.to_s + ')', get_tagged_ads_path(tag.name), class: css_class %>
		<% end %>
		<br/>
	</div>
</div>

<br />
