<!-- index form for ERROR -->
<% title "EileensNotes | Error" %>

<h3><i class="fi-alert"></i>&nbspSomething went wrong</h3>
<hr/>

<blockquote>
	The page you just requested can not be handled or found.<br/>
	Please check again.
	<br/>
	<cite>Thank you.</cite>
</blockquote>

<br/>
<%= link_to '<< back to main', root_path %>