<h2><small>Markdown Help</small></h2>
<hr/>
<ol>
  <li><strong>Underline with '=' for heading</strong></li>
    <br/>
    <p>Heading</br>
      =======
    </p>
    <h1>Heading</h1>
    <br/>
  <li><strong>Underline with '-' for sub-heading</strong></li>
    <br/>
    <p>Sub</br>
      ---
    </p>
    <h2>Sub</h2>
    <br/>
  <li><strong>Styling Text with * or **</strong></li>
    <br/>
    <p>_Italic_ or *Italic*</p>
    <i>Italic</i> <br/><br/>
    <p>__Bold__ or **Bold**</p>
    <strong>Bold</strong>
    <br/><br/>
  <li><strong>List items with * or number</strong></li>
    <br/>
    <p>Ordered list<br/>
      1. Item a<br/>
        2. Item b<br/>
        3. Item c<br/>
    </p>
    <p>Unordered list<br/>
      * Item a<br/>
      * Item b<br/>
      * Item c<br/>
    </p>
    <br/>
  <li><strong>Block quote with ></strong></li>
    <br/>
    <p>
      > This is a blockquote example.<br/>
      <blockquote>This is a blockquote example</blockquote>
    </p>
    <br/>
 
</ul>
<br/>

</ol>

<h2><small>Syntax Highlighting</small></h2>
<hr/>
<p>The following programming languages are supported for syntax highlighting:
</p>
<p>c, clojure, css, delphi, diff, erb, groovy, haml, html, java, javascript,
      json, php, python, ruby, sql, xml, yaml
</p>
<p><strong>"_" must be preceeded by \ to make it rendered correctly. (e.g. &nbsp&nbsp int my\_number = 3;)</strong></p>
<br/>
<p>
  <small>&ltcode lang="c"&gt <br/> your code here <br/> &lt/code&gt</small> <br/><br/>
  <small>&ltcode lang="java"&gt <br/> your code here <br/>  &lt/code&gt</small> 

</p>

