<h2><small>What is EileensNotes?</small></h2>
<hr/>
<ul>
  <li>EileensNotes started out in the bedroom of my daughter as a small web appication for her.</li>
  <li>It was initially for Eileen's notes, but now it is the place for all students to share knowledge.</li>
  <li>EileensNotes is a question and answer site, and contents are written and built by you.</li>
</ul>
<br/>

<h2><small>Easy to use</small></h2>
<hr/>
<p>EileensNotes is an easy place for posting any questions and answers.</p>
<ul>
  <li>If you have a question, ask online</li>
  <li>Categorize your question with tags</li>
  <li>Help other people with your answers</li>
  <li>Bookmark any Q&A that interests you so that you can review later</li>
  <li>Use Advertisement area to get helpful resource</li>
  <li>Use this site to make a study note of your own Q&A</li>
</ul>
<br/>

<fieldset>
  <h3><small>You can bookmark to review later. You can also tweet this question.</small></h3>
  <%= image_tag("qa-sample1.jpg") %>
</fieldset>
<fieldset>
  <h3><small>Each question has a status line indicating total number of answers (or bookmarks).</small></h3>
  <%= image_tag("qa-sample4.jpg") %>
</fieldset>
<br/>

<h2><small>Serviced by a father of two school kids</small></h2>
<hr/>
<p>Jae Lee, whose online nickname is risknet:lee (or risknetlee), likes people and respects teachers. 
   He is a father of two school kids and a software engineer & development manager.
   He worked at small and large
   investment research companines in NY metropolitan financial industry, and he is 
   currently working at one of top 100 asset management firms in New York.
   He always loves reading to learn from other people, and he respects all people who
   educate the young at school.
   <br/><br/>
   Lastly, he loves teaching/tutoring and is always trying to help kids achieve their goals. So, please ask here for help!
   Jae Lee continues to enhance this site to make it a helpful resource for all students.
</p>
<br/>
<h2><small>Contact</small></h2>
<hr/>
<p>
  If you have any comments, suggestions, or questions, please send an email to us.<br/><br/>
  <a href="mailto:eileensnotes@risknetlee.com">Email</a><br/> 
  <a href="http://risknetlee.blogspot.com/search/label/eileensnotes" target="_blank">Blogs</a>
  <br/>
  <a href="https://twitter.com/EileensNotes" class="twitter-follow-button" data-show-count="false">Follow @EileensNotes</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</p>
