<span class="label success">FORMATTING</span>
<p>We are supporting Markdown, a lightweight markup language, in this question box.<br/> 
  Use these syntax examples below. <%= link_to '(View formatting help)', markdown_index_path, :target => "_blank" %>
  <br/><br/>
  _Italic_    *Italic*<br/>
  __Bold__     **Bold**<br/>
  (use \ in front of * or _ to display it as is)<br/>
  1. List Item<br/>
</p>
<p>A syntax highlighting is supported for a block of programming language. <br/>
   <strong>"_" must be preceeded by \ to make it rendered correctly inside a block of programming language. 
   (e.g. &nbsp&nbsp int my\_number = 3;)</strong><br/><br/>
   &ltcode lang="java"&gt <br/> your code here <br/>  &lt/code&gt
</p>